html,
body {
  line-height: 1.25;
  background-image: linear-gradient(120deg, #2a2139, #495495);
  margin: 0;
  padding: 0;
  height: 100%;
}

#titleDiv {
  display: flex;
  justify-content: center;
  color: #fede5d;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 55px;
}

#headerTitle {
  opacity: 0;
  position: relative;
  animation-name: title;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes title {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    font-size: 75px;
  }
  100% {
    opacity: 1;
    font-size: 55px;
  }
}

#searchBar {
  display: flex;
  justify-content: center;
}

#search {
  opacity: 0;
  position: relative;
  animation-name: searchBar;
  animation-duration: 3s;
  animation-delay: 2.18s;
  animation-fill-mode: forwards;
}

@keyframes searchBar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#city {
  display: flex;
  justify-content: center;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 40px;
  color: #ff7edb;
  opacity: 0;
}

#icon {
  display: flex;
  justify-content: center;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

#mainIcon {
  opacity: 0;
  position: relative;
  animation-name: mainIcon;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes mainIcon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#misc {
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 25px;
  color: #ff7edb;
  opacity: 0;
  display: flex;
  justify-content: center;
}

#temp {
  opacity: 0;
  display: flex;
  justify-content: center;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 90px;
  color: #36f9f6;
}

#humid {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: #ff7edb;
  opacity: 0;
}

#dayOne,
#dayTwo,
#dayThree,
#dayFour,
#dayFive {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  line-height: 2.25;
  opacity: 0;
  color: #fede5d;
}

#dayOneDate,
#dayTwoDate,
#dayThreeDate,
#dayFourDate,
#dayFiveDate,
#daySixDate {
  padding: 5px;
  font-size: 25px;
  color: #fede5d;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  @keyframes title {
    0% {
      opacity: 0;
      font-size: 40px;
    }
    50% {
      opacity: 0.5;
      font-size: 40px;
    }
    100% {
      opacity: 1;
      font-size: 40px;
    }
  }

  #city {
    font-size: 25px;
    padding-top: 25px;
  }

  #humid {
    font-size: 12px;
    padding-top: 31px;
  }

  #misc {
    font-size: 12px;
    margin-top: -45px;
  }

  #temp {
    font-size: 60px;
  }

  .columns.is-mobile {
    padding: 5px;
  }
}
