#weather {
  border: solid 1px black;
  background-color: #0fbff0;
  opacity: 0.85em;
  height: 750px;
  width: 1400px;
  margin-left: 300px;
  margin-right: 100px;
  border-radius: 2em 2em 2em 2em;
}

#city,
#temp,
#humid,
#wind {
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
  margin-top: 30px;
}

#date {
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
  margin-top: 10px;
}

#forecast {
  margin-top: 50px;
}

#weather-button {
  border-radius: 1em 1em 1em 1em;
  color: black;
  font-weight: bold;
  background-color: #0ae706;
  border: 2px solid black;
  margin-left: 4px;
}

#weather-input {
  border: 3px solid black;
  margin-left: 5px;
  font-weight: bold;
}

label {
  font-weight: bold;
  margin-left: 6px;
  font-size: 35px;
}

#fiveDayForecast {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#dayOne,
#dayTwo,
#dayThree,
#dayFour,
#dayFive {
  border: 2px solid black;
  background-color: #0ae706;
  border-radius: 0em 0em 2em 2em;
}
