body {
  line-height: 2.5;
}

#titleDiv {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

/* #cardOne,
#cardTwo,
#cardThree,
#cardFour,
#cardFive {
  height: 400px;
  line-height: 20px;
} */
